
.page-item.active .page-link{
    background-color: #58a9dd !important;
    border-color: #58a9dd !important;
}
.button_a a:hover {
    background: #902796;
    color: #ecedee;
    border: solid 2px #85358f;
}
.button_a {
    background: #ecedee;
    color: #fd556d;
    border-radius: 20px;
    margin-top: 10px;
}
.button_a a {
    color: #000000;
    border: solid 2px #0f0d35;
    border-radius: 20px; 
}

.container.gallery-container {
    color: #35373a;
    min-height: 100vh;
    max-width: 1600px;
    border-radius: 20px;
}

.gallery-container h1 {
    text-align: center;
    padding: 50px 0 0 0;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.my-lightbox {
        width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}