@media only screen and (max-width: 1450px) {
   .float-right h2 {
    font-size: 24px;
}
.about_image1{
	height: 870px;
}
.about_image2{
	height: 865px;
}
.text_color_box {
    padding: 25px 75px;
    margin-top: 100%;
}
.space_responsive.make_space {
    padding: 0px;
}
.main_image_blog {
    height: 240px;
}
ul.navbar-nav.mr-auto li a {
    padding: 7px 12px !important;
}
.float-right {
    margin-top: 20%;
}
.about_desc.special-gift.mob_chg {
    padding: 50px 30px;
}
.about_desc.special-gift p {
    text-align: justify;
}
}
@media only screen and (max-width: 1025px) {

    .float-right h2 {
        font-size: 18px;
    }
    .float-right p {
        font-size: 12px;
    }
    .slider_button a {
        padding: 8px 15px;
    }
    .special-gift {
        padding: 40px 0px 55px 0px;
    }
    .cont_responsive{
       max-width: 80% !important;
   }
   .about_desc {
    margin: 0;
    padding: 30px 25px;
}
.about_desc p{
    font-size: 14px;
}
.about_image1 {
    height: 605px;
}
.text_color_box {
    padding: 20px 50px;
    margin-top: 85%;
}
.about_image2 {
    height: 602px;
}
.container.image_packet{
	max-width: 78% !important;
}
.company_overview{
	max-width: 78% !important;	
    padding: 50px;
}
.exclusive_elements {
    padding: 5px 20px;
}
.count-title {
    font-size: 46px;
}
.count-text{
    font-size: 14px !important;
}
.product_items_details h3 a {
    letter-spacing: inherit;
}
.main_image_blog {
    height: 200px;
}
.testimonial {
    padding: 40px 0;
}
.testimonial img {
    margin-top: 100px;
}
.carousel-control.right {
    right: -30px;
}
.carousel-control.left {
    right: 15px;
}
.carousel .carousel-control {
    top: 20px;
}
.widget-container {
    padding: inherit; 
}
.my-lightbox {
    height: 150px;
}
}
@media only screen and (min-width: 992px) {
    .hamburger {
        display: none;
    }
}
@media only screen and (max-width: 769px) {
    .float-right h2 {
        font-size: 14px;
    }
    .col-sm-6.slider_resp_des {
        flex: 0 0 100%;
        margin-left: 50px;
        max-width: 79%;
    }
    .float-right {
        margin-top: 15%;
    }
    .special-gift h2 {
        font-size: 24px;
    }
    .text_color_box {
        padding: 5px 2px;
        margin-top: 130%;
    }
    .about_image1 {
        height: 685px;
    }
    .about_image2 {
        height: 687px;
    }
    .exclusive_elements {
        padding: 5px 10px;
    }

    .responsive_footer{
        flex: 100%;
        max-width: 100%;
    }

    /* mobile menu*/
    .hamburger {
        float: right;
        font-size: 24px;
        color: #58a9dd;
    }
    div#navbarSupportedContent {
        padding: 50px 0 0 0;
    }
    ul.navbar-nav.mr-auto li a {
        padding: 10px 20px !important;
        margin: 0 auto;
    }
    .col-lg-3.footer_col {
        width: 33.33%;
    }
    .navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link:active {
        border: none;
    }
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
        border: none;
    }
    .navbar-light .navbar-nav .active{
     border: 3px solid;
 }
 .menu_header li:active{
    border: 3px solid;
    border-color: #ededed;
}
.menu_header ul li{
    text-align: center;
}
.dropdown-menu{
    text-align: center;
}
/* end mobile */

/* About us page */
.company_overview h1{
    font-size: 27px;
}
.about_def_res {
    -ms-flex: 0 0 33.333333%;
    flex: 100%;
    max-width: 100%;
}
.product_container_res{
    max-width: 90% !important;
}
.product_items_details h3 a{
    font-size: 13px;
}
.company_overview p{
    font-size: 16px;
}
.slider_button a {
    padding: 8px 5px;
}
.testimonial_side{
    flex: 100%;
    max-width: 100%;
}
.testimonial img {
    margin-top: 0;
    margin-bottom: 30px;
}

/* Gallery */
.gallery_res{
    flex: 0 0 50%;
    max-width: 50%;
}
.my-lightbox {
    height: 210px;
}

/* Training*/
.top_products_res{
    max-width: 100% !important;
}
.top_works_res {
    max-width: 90% !important;
}

/* blog */
.blog_post_res {
    padding: 0 15px 0 15px !important;
    max-width: 720px !important;
}
.blog{
    padding-top: 50px;
    padding-bottom: 0px; 
}
.col-sm-6.blog_post_image-my img {
    height: auto;
}
/*Contact*/
.icon.animation- {
    padding: 10px 18px;
    font-size: 24px;
}
.container.column-gap-default {
    padding: 20px 30px;
}
}

@media only screen and (max-width: 425px) {
    .hamburger {
        right: 35px;
        top: -48px;
        position: absolute;
    }
    /*index*/
    .image_responsive_slider{
        width: 1270px !important;
    }
    .slider_part_index {
        margin-bottom: 80px;
    }
    .index_slider {
        top: -231px !important;
    }
    .col-sm-5.slider_left {
        top: 170px;
    }
    .special-gift h2 {
        font-size: 22px;
    }
    .about_image1 {
        height: 500px;
    }
    .about_image2 {
        height: 500px;
    }
    .text_color_box {
        margin-top: 80%;
    }
    .mob_res_about {
        margin-bottom: 30px;
        padding-right: 15px !important;
    }
    .cont_responsive {
        max-width: 100% !important;
    }
    .responsive_gifts {
        padding-right: 15px !important;
    }
    .mob_res_about_image {
        margin-bottom: 150px;
    }
    .about_image_text {
        font-size: 18px;
    }
    .desc_about {
        font-size: 28px;
    }
    .text_color_box {
        padding: 10px 20px;
    }
    .company_overview p {
        font-size: 12px;
    }
    .company_overview {
        padding: 30px;
    }
    .col-lg-3.footer_col {
        width: 44.33%;
        margin-left: 20px;
    }
    .container.image_packet {
        max-width: 100% !important;
    }
    .company_overview {
        max-width: 92% !important;
        padding-right: 15px !important;
    }
    .company_desc p {
        font-size: 14px;
        padding: 0;
    }


    /*about*/
    .company_overview h1 {
        font-size: 24px;
    }
    .product_items {
        padding: 20px 0;
    }
    .about_def_res p {
        font-size: 14px;
    }
    .product_items_details h3 a {
        font-size: 16px;
    }
    .testimonial_res_cont {
        max-width: 90% !important;
    }
    .carousel-control.left {
        right: 60px;
    }
    .carousel-control.right {
        right: 15px;
    }

    /* Gallery*/
    .tz-gallery {
       padding: 0px !important; 
   }
   .gallery_res {
    flex: 100%;
    max-width: 100%;
}


/*training*/
.training_slider {
    height: 163.769px !important;
    top: 0 !important;
}
.training_content{
    margin-bottom: 30px;
}
.top_works_res {
    margin-bottom: 0px;
}
.about_desc.special-gift.mob_chg{
    padding: 20px 25px;
}


/*contact*/
.widget-container {
    margin: 0 auto;
}
.container.column-gap-default {
    text-align: center;
}
.icon-box-wrapper.row {
    margin: 0 auto;
    padding: 20px 0;
}
.container.controls {
    padding-bottom: 30px;
}
}

@media only screen and (max-width: 375px) {
    .carousel .carousel-control {
        top: 30px;
    }
}